include ../layout/_mixins
doctype html
html(lang="en")
  block head
  include ../layout/_head
  body
    .wrapper
      // Header
      - var activePage = 'Main'
      include ../layout/_header

      // Main
      main.main
        .container.d-flex.gap-3.mb-6
          button.btn.btn-primary(type="button") Primary
          button.btn.btn-secondary(type="button") Secondary
          button.btn.btn-success(type="button") Success
          button.btn.btn-danger(type="button") Danger
          button.btn.btn-warning(type="button") Warning
          button.btn.btn-info(type="button") Info
          button.btn.btn-light(type="button") Light
          button.btn.btn-dark(type="button") Dark
          button.btn.btn-link(type="button") Link

        .container
          .d-inline-flex.flex-column.gap-3
            .badge.text-bg-danger Popular
            .badge.text-bg-success Product test
            .badge.text-bg-warning Bestseller

      // Footer
      include ../layout/_footer

    // Scripts
    script(src='js/main.bundle.js', defer)