include ../layout/_mixins
doctype html
html(lang="en" data-bs-theme="dark")
  block head
  include ../layout/_head
  body
    .wrapper
      // Header
      - var activePage = 'Main'
      include ../layout/_header

      // Main
      main.main.py-10
        .container.d-flex.gap-3.mb-6
          button.btn.btn-primary(type="button") Primary
          button.btn.btn-secondary(type="button") Secondary
          button.btn.btn-success(type="button") Success
          button.btn.btn-danger(type="button") Danger
          button.btn.btn-warning(type="button") Warning
          button.btn.btn-info(type="button") Info
          button.btn.btn-light(type="button") Light
          button.btn.btn-dark(type="button") Dark
          button.btn.btn-link(type="button") Link

        .container.mb-6.d-flex.gap-3
          button.btn.btn-black.text-uppercase(type="button") View Product
          button.btn.btn-outline-light.text-uppercase(type="button") View Product

        .container.mb-6
          .d-inline-flex.gap-3
            .badge.text-uppercase.text-black.bg-crimson.fw-extra-bold Popular
            .badge.text-uppercase.text-black.bg-success.fw-extra-bold Product test
            .badge.text-uppercase.text-black.bg-warning.fw-extra-bold Bestseller

        .container.d-flex.flex-column.gap-3
          h1 Trust in 
            span Every 
            | Dose.
          h1 Typography-1
          h2 Typography-2
          h3 Typography-3
          h4 Typography-4
          h5 Typography-5
          h6 Typography-6

          .body
            p Body

        .container
          .d-inline-flex.align-items-center.gap-1
            .d-inline-flex.align-items-center.gap-1.lh-1
              .text-danger.d-flex.align-items-center.justify-content-center
                +icon('star')
              .text-danger.d-flex.align-items-center.justify-content-center
                +icon('star')
              .text-danger.d-flex.align-items-center.justify-content-center
                +icon('star')
              .text-danger.d-flex.align-items-center.justify-content-center
                +icon('star')
              .text-danger.d-flex.align-items-center.justify-content-center
                +icon('star')
            span.fs-16.text-muted.lh-1 4.7 (14)

        .container
          .select
            .select__input
            .select__dropdown


      // Footer
      include ../layout/_footer

    // Scripts
    script(src='js/main.bundle.js', defer)