html,
body {
  height: 100%;
  font-family: $deff, sans-serif;
  line-height: $body-line-height;
}

body {
  background-color: $main-bg;
  color: $white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}

main {
  flex: 1 1 auto;
}
