$utilities: map-merge(
  $utilities,
  (
    "font-weight": (
      property: font-weight,
      class: fw,
      values: (
        "lighter": $font-weight-lighter,
        "light": $font-weight-light,
        "normal": $font-weight-normal,
        "medium": $font-weight-medium,
        "semibold": $font-weight-semibold,
        "bold": $font-weight-bold,
        "extra-bold": $font-weight-extra-bold,
        "black": $font-weight-black
      )
    ),
    "max-width": (
      property: max-width,
      class: mw,
      values: $max-widths
    ),
    "line-height": (
      property: line-height,
      class: lh,
      values: $line-heights
    ),
    "font-size": (
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes
    )
  )
);
