$deff: "Outfit";
$body-line-height: 1.2;

// Brand Colors
$black: #000000;
$white: #ffffff;
$main-bg: #1d1d1f;
$crimson: #c41949;
$success: #00ad62;
$warning: #9a7c4b;
$muted: #6f6b6b;
$error: #f40004;
$gray: #d4d4d4;

// Media queries breakpoints for mixins
$xsm: 375px;

// Small ≥576px
$sm: 576px;
$sm_maxw: 540px;

// Medium ≥768px
$md: 768px;
$md_maxw: 720px;

// Large ≥992px
$lg: 992px;
$lg_maxw: 960px;

// Extra Large ≥1200px
$xl: 1200px;
$xl_maxw: 1140px;

// Extra Large ≥1440px
$xxl: 1440px;
$xxl_maxw: 1194px;

// Bootstrap
$grid-gutter-width: 30px;

// Container
$grid-breakpoints: (
  xs: 0,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl
);

$container-max-widths: (
  sm: $sm_maxw,
  md: $md_maxw,
  lg: $lg_maxw,
  xl: $xl_maxw,
  xxl: $xxl_maxw
);

$max-widths: (
  21: 21px,
  154: 154px,
  229: 229px
);

// Container padding
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer * 1,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 1.75,
  8: $spacer * 2,
  9: $spacer * 2.25,
  10: $spacer * 2.5,
  11: $spacer * 2.75,
  12: $spacer * 3,
  13: $spacer * 3.25,
  14: $spacer * 3.5,
  15: $spacer * 3.75,
  16: $spacer * 4,
  17: $spacer * 4.25,
  18: $spacer * 4.5,
  19: $spacer * 4.75,
  20: $spacer * 5
);

$font-sizes: (
  13: 13px,
  14: 14px,
  15: 15px,
  16: 16px,
  17: 17px,
  18: 18px,
  19: 19px,
  20: 20px
);

$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;

$line-heights: (
  1: 1,
  30: 30px,
  sm: $line-height-sm,
  base: $line-height-base,
  lg: $line-height-lg
);

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// Navs
$navbar-dark-color: $white;
$navbar-nav-link-padding-x: 0;
$navbar-dark-active-color: $error;
$navbar-padding-y: 6px;
$navbar-dark-hover-color: $white;
$nav-link-padding-y: 0;
$nav-link-font-size: 15px;
$nav-link-color: $white;

// Badges
$badge-font-size: 10px;

// Buttons
$btn-font-size: 15px;
$btn-font-weight: 800;
$btn-padding-y: 8.3px;
$btn-padding-x: 19.4px;
