header.b-header
  .container
    nav.navbar.navbar-dark.navbar-expand-lg
      a.navbar-brand.me-14(href="/")
        img(src="img/logo.svg" alt="logo")
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse.d-inline-flex.flex-grow-0.ms-13(id="navbarSupportedContent")
        ul.navbar-nav.me-auto.mb-2.mb-lg-0.column-gap-8
          li.nav-item.lh-1.dropdown
            a.nav-link.d-inline-flex.align-items-center.position-relative.fw-extra-bold.text-uppercase.dropdown-toggle.active(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
              span Products
              +icon('triangle-down')
            ul.dropdown-menu 
              li
                a.dropdown-item(href="#") Testosterones
              li
                a.dropdown-item(href="#") Nandrolones
              li
                a.dropdown-item(href="#") Boldenones
              li
                a.dropdown-item(href="#") Trenbolones
              li
                a.dropdown-item(href="#") Stanozolol
              li
                a.dropdown-item(href="#") Primobolan
              li
                a.dropdown-item(href="#") Masterones
              li
                a.dropdown-item(href="#") Terms of Service

          li.nav-item.lh-1
            a.nav-link.position-relative.fw-extra-bold.text-uppercase(href="#") innovations
          li.nav-item.lh-1
            a.nav-link.position-relative.fw-extra-bold.text-uppercase(href="#") Support
          li.nav-item.lh-1
            a.nav-link.position-relative.fw-extra-bold.text-uppercase(href="#") Check code
          li.nav-item.lh-1
            a.nav-link.position-relative.fw-extra-bold.text-uppercase(href="#") Analysis
          li.nav-item.lh-1
            a.nav-link.position-relative.fw-extra-bold.text-uppercase(href="#") About Us
          li.nav-item.lh-1
            a.nav-link.position-relative.fw-extra-bold.text-uppercase(href="#") Contact

      .d-flex.align-items-center.column-gap-5.ms-auto
        a.icon-link.link-body-emphasis.mw-21(href="#")
          +icon('glass')
        a.icon-link.link-body-emphasis.mw-21(href="#")
          +icon('login')
